{% extends "challenge.html" %}
{% block description %}

<script>
    var DOCKER_CONTAINER = '{{ challenge.docker_image | safe }}';
    (function () {
        get_docker_status(DOCKER_CONTAINER);
    })();
</script>
{{ challenge.html }}
<div class='mb-3 text-center' id='docker_container'>
    <span>
        <a onclick="start_container('{{ challenge.docker_image | safe }}');" class='btn btn-dark'>
            <small style='color:white;'><i class="fas fa-play"></i> Start Docker Instance</small>
        </a>
    </span>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="error_dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="error_dialog_title"></h5>
                <button type="button" id="error_dialog_close_btn" class="btn-close" data-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="error_dialog_body"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="error_dialog_confirm_btn" data-dismiss="modal">Get
                    it!</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}