{% extends "challenge.html" %}
{% block description %}
<script>
function get_docker_status(container) {
    $.get("/api/v1/docker_status", function (result) {
        $.each(result['data'], function (i, item) {
            if (item.docker_image == container) {
                var ports = String(item.ports).split(',');
                var data = '';
                $.each(ports, function (x, port) {
                    port = String(port)
                    data = data + 'Host: ' + item.host + ' Port: ' + port + '<br />';
                })
                $('#docker_container').html('<pre>Docker Container Information:<br />' + data + '<div class="mt-2" id="' + String(item.instance_id).substring(0, 10) + '_revert_container"></div>');
                var countDownDate = new Date(parseInt(item.revert_time) * 1000).getTime();
                var x = setInterval(function () {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    if (seconds < 10) {
                        seconds = "0" + seconds
                    }
                    $("#" + String(item.instance_id).substring(0, 10) + "_revert_container").html('Next Revert Available in ' + minutes + ':' + seconds);
                    if (distance < 0) {
                        clearInterval(x);
                        $("#" + String(item.instance_id).substring(0, 10) + "_revert_container").html('<a onclick="start_container(\'' + item.docker_image + '\');" class=\'btn btn-dark\'><small style=\'color:white;\'><i class="fas fa-redo"></i> Revert</small></a>');
                    }
                }, 1000);
                return false;
            };
        });
    });
};
</script>
<script>
    const DOCKER_CONTAINER = '{{ challenge.docker_image | safe }}';
    var DOCKER_AVAILABLE = false;
    (function() {
        if ($("#docker_availablity") == "true") {
            $("#docker_error").hide();
            get_docker_status(DOCKER_CONTAINER);
        } else {
            $('#docker_container').html('<div class="text-center"><i class="fas fa-circle-notch fa-spin fa-1x"></i></div>');
            $("#dockcontainerer_error").show();
        }
    })();
</script>
<div id="docker_availablity" name="true" hidden></div>
<div class="col-md-9" id="docker_error" hidden></div>
{{ challenge.html }}
<div class='mb-3 text-center' id='docker_container'>
    <span>
        <a onclick="start_container('{{ challenge.docker_image | safe }}');" class='btn btn-dark'>
            <small style='color:white;'><i class="fas fa-play"></i> Start Docker Instance</small>
        </a>
    </span>
</div>
{% endblock %}
